/* css styles */

details > summary {
  background-color: rgba(221,221,221,.65) !important;
  border: 1px solid rgba(221,221,221,.65);
  border-radius: .375rem;
  padding: 0.5em;
  font-size: 0.9em;
  font-style: italic;
}

.figure > .figcaption {
  text-align: center;
}

.quarto-figure-center {
  text-align: center;
}